<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tổng hợp FE</title>


</head>
<body>
    <header>
        <h1>Tổng hợp</h1>
    </header>

    <section class="body">
        <h2>I, HTML </h2>
        <pre>
            1, Cấu trúc của 1 trang html
            2, Các nhóm thẻ: block - inline
            3, Form - table
        </pre>

        <h2>II, CSS</h2>
        <pre>
            1, Cú pháp: bộ chọn thuộc tính 
            2, Các thứ tự ưu tiên trong css
            3, Phân loại một số css hay dùng: 
                - flex: 
                - reponsive : flex & media
                - animation : keyframe
                - font: cách sử dụng
        </pre>

        <h2>III, Javascript</h2>
        <pre>
            1, Cách dùng: 3 cách dùng (viết file, gọi trực tiếp trên element, viết trên trang html)
            2, Các khái niệm và cách sử dụng: biến, toán tử, câu lệnh điều kiện, vòng lặp, mảng, hàm, chuỗi, đối tượng, DOM
                - Mảng: array   + cách khai báo
                                + cách tương tác: index (vị trí của phần tử)
                                + một số các hàm: push(), pop(),...

                - đối tượng Object:    + cách khai báo 
                                      + cách tương tác: attr (thuộc tính)

                - hàm function:     + cách khai báo 
                                    + cách sử dụng : đảm bảo function có tồn tại trước khi được gọi sử dụng
                
                => Một số lưu ý:   - function: số lượng tham số đầu vào = đầu vào khi gọi function 
                                   - tương tác với dữ liệu kết hợp array và object 

            3, jquery:
                * base từ javascript 
                - cách khai báo và cú pháp sử dụng: 2 cách (khai báo thư viện jquery trước khi sử dụng)
                                                    "$" + "('selector')" + "." + "function"   : $("#id").show();

            4, Boostrap: 
                - Cách khai báo sử dụng thư viện BT
            
            5, Photoshop cơ bản
                - Cách đo : khoảng cách, kích thước ,...
                - Cách lấy: lấy hình ảnh, màu sắc ,... 



        </pre>
    </section>

    <footer class="footer">

    </footer>

</body>
</html>